In [2]:
import pandas as pd

In [4]:
# merge two cscv file
csv_path = pd.concat(map(pd.read_csv, ["crime_data1.csv", "covid_data.csv"]), ignore_index=True)
print(crime_covid_df)

        offense_id   rpt_date  occur_date occur_time           UC2_Literal  \
0       21320347.0   2/1/2021   1/31/2021      00:00  LARCENY-FROM VEHICLE
1      203661993.0   1/1/2021   1/31/2020      20:30  LARCENY-FROM VEHICLE
2      203662299.0   1/5/2021  12/31/2020      23:36  LARCENY-FROM VEHICLE
3      210010977.0  1/25/2021    1/1/2021      03:00            AUTO THEFT
4      210011211.0   1/1/2021    1/1/2021      05:43  LARCENY-FROM VEHICLE
...            ...        ...         ...        ...                   ...
16274          NaN        NaN         NaN        NaN                   NaN
16275          NaN        NaN         NaN        NaN                   NaN
16276          NaN        NaN         NaN        NaN                   NaN
16277          NaN        NaN         NaN        NaN                   NaN
16278          NaN        NaN         NaN        NaN                   NaN

      neighborhood  npu        lat       long    use_date      zip  county  \
0         Downtown    M  33.760759 -84.383773  2021-02-01  30303.0  Fulton
1         Downtown    M  33.757453 -84.392698  2021-01-01  30303.0  Fulton
2         Downtown    M  33.750347 -84.389580  2021-01-05  30303.0  Fulton
3         Downtown    M  33.757774 -84.394966  2021-01-25  30303.0  Fulton
4         Downtown    M  33.757774 -84.394966  2021-01-01  30303.0  Fulton
...            ...  ...        ...        ...         ...      ...     ...
16274          NaN  NaN        NaN        NaN  2021-03-27      NaN  Fulton
16275          NaN  NaN        NaN        NaN  2021-03-28      NaN  Fulton
16276          NaN  NaN        NaN        NaN  2021-03-29      NaN  Fulton
16277          NaN  NaN        NaN        NaN  2021-03-30      NaN  Fulton
16278          NaN  NaN        NaN        NaN  2021-03-31      NaN  Fulton

       total_cases  deaths
0              NaN     NaN
1              NaN     NaN
2              NaN     NaN
3              NaN     NaN
4              NaN     NaN
...            ...     ...
16274        175.0     5.0
16275        107.0     0.0
16276        123.0     2.0
16277        134.0     3.0
16278        186.0     5.0

[16279 rows x 14 columns]

In [9]:
# DataFrame
crime_covid_df = pd.DataFrame(csv_path)
crime_covid_df.head(-1)

,offense_id,rpt_date,occur_date,occur_time,UC2_Literal,neighborhood,npu,lat,long,use_date,zip,county,total_cases,deaths
0,21320347.0,2/1/2021,1/31/2021,00:00,LARCENY-FROM VEHICLE,Downtown,M,33.760759,-84.383773,2021-02-01,30303.0,Fulton,NaN,NaN
1,203661993.0,1/1/2021,1/31/2020,20:30,LARCENY-FROM VEHICLE,Downtown,M,33.757453,-84.392698,2021-01-01,30303.0,Fulton,NaN,NaN
2,203662299.0,1/5/2021,12/31/2020,23:36,LARCENY-FROM VEHICLE,Downtown,M,33.750347,-84.389580,2021-01-05,30303.0,Fulton,NaN,NaN
3,210010977.0,1/25/2021,1/1/2021,03:00,AUTO THEFT,Downtown,M,33.757774,-84.394966,2021-01-25,30303.0,Fulton,NaN,NaN
4,210011211.0,1/1/2021,1/1/2021,05:43,LARCENY-FROM VEHICLE,Downtown,M,33.757774,-84.394966,2021-01-01,30303.0,Fulton,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-26,NaN,Fulton,153.0,3.0
16274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-27,NaN,Fulton,175.0,5.0
16275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-28,NaN,Fulton,107.0,0.0
16276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-29,NaN,Fulton,123.0,2.0
16277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-30,NaN,Fulton,134.0,3.0